{% extends "base.html" %}
{% load static %}

{% block title %}
    Create
{% endblock %}

{% block name_user %}
    {{ fname }} {{ lname }}
{% endblock %}

{% block content %}
    <div class="container bg-second p-4">
        <div class="row">
            <div class="col-5 centerpage">
                <img src="{% static 'image/create.png' %}" class="w-75 m-4 moving_updown">
            </div>
            <div class="col-7">
                <h2 class="title pl-2 ml-4">Create Poll</h2>
                <div class="row mt-2">
                    <form method="POST" class="ml-4 p-4 w-100" action="{% url 'create' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="subject">Subject *</label>
                            <input type="text" class="form-control" name='subject' required>
                        </div>
                        <div class="form-group">
                            <label for="detail">Description *</label>
                            <textarea class='form-control' name="detail" id="" cols="30" rows="4" required></textarea>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-6">
                                <label for="sdate">Start_Date *</label>
                                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                    <input name='sdate' type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" required/>
                                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <label for="edate">End_Date *</label>
                                <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                    <input name='edate' type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" required/>
                                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-6">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name='password'>
                            </div>
                            <div class="form-group col-6">
                                <label for="picture">Picture</label>
                                <div class="custom-file">
                                    <input type="file" class='custom-file-input' name='picture' id="input-file">
                                    <label class="custom-file-label" for="input-file">Choose File</label>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class='btn btn-primary'>Create Poll</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
