{% extends "base.html" %}
{% load static %}
{% csrf_token %}

{% block title %}
    Poll Detail
{% endblock %}

{% block name_user %}
    {{ fname }} {{ lname }}
{% endblock %}

{% block content %}
    <div class="container-fluid bg-second p-4">
        {% if passed %}
            <div class="row">
                <div class="col-5 centerpage">
                    <img src="{{ picture }}" class="w-75 m-4 moving_updown">
                </div>
                <div class="col-7">
                    <h2 class="title pl-2 ml-4">Poll Detail</h2>
                    <div class="m-4 bg-first p-4 rounded">
                        <h4>Subject : {{ subject }}</h4>
                        <h4 class="mt-3">Description</h4>
                        <p>&emsp; {{ detail }}</p>
                        <h4 class="mt-3">Start Date</h4>
                        <p>&emsp; {{ sdate }}</p>
                        <h4 class="mt-3">End Date</h4>
                        <p>&emsp; {{ edate }}</p>
                        <p class="text-right"><b>By @<u>{{ create_by }}</u></b></p>
                        {% if owned %}
                            {% if status %}
                                <a href="{% url 'edit_poll' id %}" class="btn btn-warning"><b>Edit</b></a>
                                <a href="{% url 'close_poll' id %}" class="btn btn-dark"><b>Close</b></a>
                            {% endif %}
                            <a href="{% url 'delete_poll' id %}" class="btn btn-danger"><b>Delete</b></a>
                        {% endif %}
                    </div>
                    <div class="mx-4 bg-first p-2 rounded">
                        <p><u>Note</u> : You can vote only one time, please check before sending</p>
                    </div>
                    <div class="row m-4">
                        {% for choice in all_choice %}
                            <a href="{% url 'vote_choice' choice.id %}" class="col-6 py-2 non_action">
                            {% if choice.subject == check_vote %}
                                <div class="btn btn-light text-dark rounded">
                            {% else %}
                                <div class="btn btn-dark text-light rounded">
                            {% endif %}
                                    <div class="row">
                                        <div class="col-4">
                                            <img src="{{ choice.image.url }}" class="w-75" style="height: 75px;">
                                        </div>
                                        <div class="col-7 centerpage">
                                            {{ choice.subject }}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if is_active == False or check_vote %}
            <div class="row">
                <div class="col-5"></div>
                <div class="col-7">
                    <h2 class='title pl-2 ml-4'>Result</h2>
                    <div class="m-4 p-4 bg-third rounded">
                        {{ graph|safe }}
                    </div>
                </div>
            {% endif %}
            </div>
        {% else %}
            <div class="centerpage">
                <div class="bg-dark text-light w-50 p-4 m-4">
                    <h3>This Poll requires a password</h3>
                    <form method="GET" class="w-100" action="{% url 'poll_detail' id %}">
                        <div class="form-group">
                            <label for="password">Password *</label>
                            <input type="password" class="form-control" name='password' required>
                        </div>
                        {% if error != "" %}
                            <p class="text-light">{{error}}</p>
                        {% endif %}
                        <input type="submit" class="btn btn-info" value="Enter">
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
